body
{
    margin: 0;
}

body *
{
    box-sizing: border-box;
}

.fonts--not-loaded body
{
    opacity: 0 !important;
}

.fonts--loaded body
{
    font-family: 'Roboto', sans-serif;
}

.content
{
    max-width: 1100px;
    margin: 0 auto;
}
