.cases_wrapper
{
    position: absolute;
    pointer-events: none;
    width: 100%;

}

.cases_container
{
    pointer-events: all;
    width: 100%;
    background: white;
}

.cases__header
{
    text-transform: uppercase;
    font-size: 1.5em;
    padding-top: 2rem;
    padding-bottom: 4rem;
    font-size: 4rem;
}

.cases__header > h2
{
    margin: 0;
    font-weight: 300;
    font-size: 4rem;
}

.cases_expander
{
    height: 80vh;
}

.cases_expander--top
{
    min-height: 400px;
}

.cases_expander--bottom
{
    min-height: 500px;
}

.cases
{
    padding-right: 1rem;
    padding-left: 1rem;
}

@media (max-width: 768px) {
    .cases_wrapper
    {
        position: static;
    }

    .cases__header
    {
        padding-top: 0.7rem;
        padding-bottom: 1rem;
    }

    .cases__header > h2
    {
        font-size: 2rem;
    }

    .cases_expander
    {
        display: none;
    }
}
