.cases_wrapper
{
    position: absolute;
    pointer-events: none;
    width: 100%;

}

.cases_container
{
    pointer-events: all;
    width: 100%;
    background: white;
    padding-top: 6em;
}

.cases_expander
{
    height: 80vh;
}

.cases_expander--top
{
    min-height: 400px;
}

.cases_expander--bottom
{
    min-height: 500px;
}

.cases
{
    padding-right: 1rem;
    padding-left: 1rem;
}

@media (max-width: 768px) {
    .cases_wrapper
    {
        position: static;
    }

    .cases_container
    {
        padding-top: 3em;
    }

    .cases_expander
    {
        display: none;
    }
}
